<template>
  <v-card


  >
    <v-list-item>
      <v-list-item-content  max-width="700">
        <v-list-item-title class="mb-4">{{ post.title }}</v-list-item-title>

          {{ post.description }}

      </v-list-item-content>
    </v-list-item>
  </v-card>
</template>


<script>

export default {
  data() {
    return {
      post:{}
    }
  },
  async fetch() {
    const respons = await this.$axios.get(`posts/${this.$route.params.id}`)

    this.post = respons.data.post
  }


}


</script>
