<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <v-card
      max-width="700"
    tile class="pa-md-4 mx-auto" v-for="post,i of posts" :key="post.id">

        <nuxt-link :to="'posts/' + post.id"  class="font-weight-black link-post">
          {{ i + 1}}) {{ post.title }}
        </nuxt-link>
        <p>
          {{ post.role }}
        </p>
      </v-card>
    </v-col>
  </v-row>
</template>


<script>
export default {
  name: "PostsPage",
  data() {
    return {
      posts: [],
    };
  },
  async fetch() {
    const { data } = await this.$axios.get("posts");
    this.posts = data.posts
  },
};
</script>
<style scoped>
.link-post {
  text-decoration: none;
}
</style>
