<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <h1 class="mb-4">Home page</h1>
      <v-date-picker v-model="piker"></v-date-picker>
    </v-col>

  </v-row>
</template>


<script>
export default {
  name: "HomePage",
  data() {
    return {
      piker:''
    }
  },
};
</script>
<style scoped></style>
